/* 10 de abril, 2022 */
/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,300;0,600;1,300&family=Roboto&display=swap");
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles ****/
:root {
  --bord-rad: 10px;
  --bord-rad-small: 5px;
  --bx-shad: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(177, 169, 169);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em;
}

/* Typography ******/
.library-title {
  text-align: center;
  font-size: 2rem;
}
.change-details {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}

/******* Table ********/
.table-outer-container {
  max-width: 600px;
  margin: 0 auto;
  border: 3px solid rgb(26, 22, 2);
  background-color: rgb(221, 212, 212);
  border-radius: var(--bord-rad);
  padding: 2em;
}
table {
  width: 100%;
  border-radius: var(--bord-rad);
  box-shadow: var(--bx-shad);
  padding: 1em;
  /* border: 1px solid red; */
}
tr td .btn-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
th {
  margin-bottom: 0.2em;
}
tr {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1em;
}
td {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}

/* Buttons **********/
.btn-holder {
  display: grid;
  gap: 10px;
}
button {
  border-radius: var(--bord-rad-small);
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  padding: 0.25em 0.5em;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  box-shadow: var(--bx-shad);
  border: 3px solid transparent;
  transition: 250ms ease;
}
button:hover {
  background-color: rgb(163, 157, 157);
  border: 3px solid rgb(124, 121, 121);
  color: #000;
}
.add-btn {
  margin-bottom: 1em;
}

/* Media *****/
@media (min-width: 675px) {
  /* Typography ******/
  .library-title {
    font-size: 3rem;
  }
  .change-details {
    font-size: 1.2rem;
  }

  /* Table ******/
  .table-outer-container {
    padding: 2em;
  }
  th {
    font-size: 1.2rem;
    width: 170px;
    text-align: left;
  }
  tr {
    flex-direction: row;
  }
  td {
    font-size: 1.1rem;
    text-align: left;
    padding-left: 1em;
    flex: 1;
  }

  /* Buttons ****/
  button {
    font-size: 1rem;
  }
}
