/* 10 de junio, 2022 */
/* 15 de junio, 2022 */
/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,300;0,600;1,300&family=Roboto&display=swap");
/* Reset */
/* Monday, July 25th, 2022 ***/
/*****************************/
/* Revised Saturday, August 6th, 2022 */
/*****************************/

/*** RESET ***/
/* Sábado 20, de agosto, 2022 ***/
/********************************/
/* Otra vez, Martes, 6 de septiembre, 2022 ***/
/********************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Custom Properties */
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-shellWhite: hsl(0, 22%, 90%);
  --clr-steel: hsl(207, 44%, 49%);
  --clr-bgBlue: hsla(197, 84%, 22%, 0.924);
  --clr-bgDark: hsl(0, 0%, 0%);
  --clr-bgGrey: hsl(0, 0%, 50%);
  --clr-midGrey: hsl(0, 4%, 44%);
  --clr-fadedGrey: hsl(0, 0%, 60%);
  --clr-dkGrey: hsl(0, 0%, 20%);
  --clr-ltgreen: hsl(173, 37%, 64%);
  --clr-orange: hsl(16, 78%, 46%);
  --clr-orangeRed: hsl(16, 100%, 50%);
  --clr-red: hsl(0, 100%, 50%);

  /* background-image */
  --clr-linearBlue: linear-gradient(hsl(240, 100%, 27%), hsl(196, 37%, 37%));
  --clr-linearInverseBlue: linear-gradient(
    hsl(192, 80%, 16%),
    hsl(240, 100%, 27%)
  );
  --clr-linearDarkBlue: linear-gradient(hsl(240, 100%, 50%), hsl(0, 0%, 10%));
  --clr-linearGrey: linear-gradient(#353232, hsl(0, 0%, 50%));
  /************************/
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-100: 100px;
  --box-shad: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --box-shad2: 0 1px 10px rgba(0, 0, 0, 0.4);
  --fw-900: 900;
  --transition250: 250ms ease-in;
  --transition500: 500ms ease-in;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-dkGrey);
  padding: 1em;
}
.container {
  width: 85%;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 1100px;
  background-color: var(--clr-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  margin-left: 1em;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2 {
  margin: 0;
}

/* Typography */
/* Icons Sidebar */
.side-nav-icons {
  font-size: 0.7rem;
}
.dashboard__title {
  margin-left: 5px;
  font-size: 1.7rem;
}
.fa-table-columns {
  font-size: 1.7rem;
}
.user-name {
  font-weight: 900;
}
.logo {
  color: var(--clr-shellWhite);
  font-size: clamp(1.2em, 2vw, 2em);
}
.directions {
  margin-top: 0.5em;
  text-align: center;
  color: var(--clr-shellWhite);
}

/* Article Main Section ****/
/** Main **/
.main-section {
  background-color: var(--clr-midGrey);
  padding: 0.5em;
  grid-column: 2/-1;
  grid-row: 2/-1;
}

/** Sidebar Navigation  **/
.left-sidebar-nav {
  background-image: var(--clr-linearBlue);
  grid-row: 1/4;
  grid-column: 1/2;
  color: #fff;
  padding: 1em 2em;
}
.dashboard-title-logo {
  display: grid;
  grid-template-columns: 30px 100px;
  margin-bottom: 0.9em;
}
.nav__link {
  margin-bottom: 3em;
}
.nav__link-list,
.nav__link2-list {
  margin-bottom: 0.8em;
}
.nav__link-anchor,
.nav__link2-anchor {
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1.6px;
  transition: 250ms ease-in;
}
.nav__link-anchor:hover,
.nav__link2-anchor:hover {
  color: #000;
}

/* Header - Main Navigation ******/
.header {
  margin: auto;
  background-color: #fff;
  grid-row: 1/2;
  grid-column: 2/-1;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  gap: 0.75em;
}
.hi-there {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-direction: row;
}
.hi-there > .fa-face-grin-wink {
  font-size: 3rem;
}
.search-icons {
  border: 1px solid black;
}
.search-glass {
  display: flex;
  gap: 0.25em;
}
.icon-name {
  border: 1px solid black;
  display: flex;
  gap: 0.5em;
}
input[type="text"] {
  border: none;
  border-radius: 100px;
  width: 70%;
  background-color: rgb(245, 239, 239);
  background-color: grey;
  margin-top: 1em;
  height: 20px;
}
.fa-magnifying-glass {
  margin-top: 1.5em;
  font-size: 0.8rem;
}
.greeting {
  font-size: 0.8rem;
  font-weight: 900;
}

/* Buttons */
.button-row {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-direction: row;
}
.user-btn {
  width: 95px;
  cursor: pointer;
  border: none;
  background-image: var(--clr-linearBlue);
  border-radius: var(--border-radius-100);
  color: var(--clr-white);
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5em;
  transition: var(--transition250);
}
/* Hover States */
.user-btn:hover {
  background-image: var(--clr-linearGrey);
  color: var(--clr-shellWhite);
}

/* Right Sidebar */
/* Emoji Icon */
.fa-face-grin-wink {
  font-size: 1.5rem;
  color: rgb(218, 96, 52);
  border-radius: 50%;
}
.fa-face-angry {
  color: blue;
  font-size: 1.5rem;
}
.fa-face-grin-tears {
  color: green;
  font-size: 1.5rem;
}
.fa-skull {
  color: rebeccapurple;
  font-size: 1.5rem;
}

@media (max-width: 550px) {
  /* Buttons */
  .button-row {
    flex-direction: column;
    gap: 0.75em;
  }
}
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 120px auto 500px;
  }
  .main-section {
    grid-column: 1;
    grid-row: 3/-1;
  }

  /** Navigation Sidebar **/
  .left-sidebar-nav {
    grid-column: 1;
    grid-row: 1/2;
  }
  .nav {
    display: flex;
  }
  .nav__link,
  .nav__link2 {
    /* visibility: hidden; */
    height: 0;
    overflow: hidden;
  }
  .side-nav-icons {
    /* visibility: hidden; */
    height: 0;
    overflow: hidden;
  }
  .header {
    grid-column: 1;
    grid-row: 2/3;
    flex-direction: column;
    gap: 0.5em;
  }
  .search-icons {
    grid-template-columns: 1fr;
  }

  /* Buttons */
  .button-row {
    gap: 0.75em;
  }
  .hi-there {
    display: flex;
    align-items: center;
    gap: 0.75em;
  }
}
